/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/build/
/composer.phar
/app/config/parameters.yml
/app/config/parameters.ini
/web/uploads/
/web/bundles/
.idea/
.gitignore
